services:
  base:
    build:
      context: ..
      dockerfile: .docker/Dockerfile.base
    image: esp/base:${ESP_VERSION}
    networks:
      - pipeline_domain

  hec:
    image: ${SPLUNK_IMAGE:-splunk/splunk:latest}
    container_name: splunk_hec
    environment:
      - SPLUNK_START_ARGS=--accept-license
      - SPLUNK_HEC_TOKEN=$EXCALIBUR_SPLUNK_TOKEN
      - SPLUNK_PASSWORD=$EXCALIBUR_SPLUNK_PWD
      - SPLUNK_HTTP_ENABLESSL=true
      - SPLUNK_HTTP_ENABLESSL_CERT=${DAWGIE_SSL_PEM_FILE}
    ports:
      - 1080:8000
      - 1088:8088
    volumes:
      - /proj/sdp/ops/splunk/etc:/opt/splunk/etc
      - /proj/sdp/ops/splunk/var:/opt/splunk/var
      - /etc/ssl:/etc/ssl:ro
      - /usr/local/share/ca-certificates:/usr/local/share/ca-certificates:ro
      - /usr/share/ca-certificates:/usr/share/ca-certificates:ro

  pipeline:
    build:
      args:
        BASE_VER: ${ESP_VERSION}
      context: ..
      dockerfile: .docker/Dockerfile.server
    container_name: pipeline-${EXCALIBUR_USER}
    environment:
      - DAWGIE_FE_DEBUG=T
      - DAWGIE_AE_BASE_PACKAGE=${DAWGIE_AE_BASE_PACKAGE}
      - DAWGIE_AE_BASE_PATH=${EXCALIBUR_SOURCE_PATH}/${DAWGIE_AE_BASE_PACKAGE}
      - DAWGIE_DATA_DBSTOR=${DAWGIE_DATA_DBSTOR}
      - DAWGIE_DATA_LOGDIR=${DAWGIE_DATA_LOGDIR}
      - DAWGIE_DATA_STAGED=${DAWGIE_DATA_STAGED}
      - DAWGIE_DB_HOST=${DAWGIE_DB_HOST}
      - DAWGIE_DB_IMPL=${DAWGIE_DB_IMPL}
      - DAWGIE_DB_NAME=${DAWGIE_DB_NAME}
      - DAWGIE_DB_PATH=${DAWGIE_DB_PATH}
      - DAWGIE_DB_PORT=${DAWGIE_DB_PORT}
      - DAWGIE_DB_ROTATE_PATH=${DAWGIE_DB_ROTATE_PATH}
      - DAWGIE_FE_PATH=${DAWGIE_FE_PATH}
      - DAWGIE_GUEST_PUBLIC_KEYS=${DAWGIE_GUEST_PUBLIC_KEYS}
      - DAWGIE_LISTENER_BACKLOG=${DAWGIE_LISTENER_BACKLOG}
      - DAWGIE_LOG_BACKUP=${DAWGIE_LOG_BACKUP}
      - DAWGIE_SSL_PEM_FILE=${DAWGIE_SSL_PEM_FILE}
      - DAWGIE_SSL_PEM_MYNAME=${DAWGIE_SSL_PEM_MYNAME}
      - DAWGIE_SSL_PEM_MYSELF=${DAWGIE_SSL_PEM_MYSELF}
      - EXCALIBUR_LEVER_AND_KNOB_SETTINGS=${EXCALIBUR_LEVER_AND_KNOB_SETTINGS}
      - EXCALIBUR_LOG_LEVEL=${EXCALIBUR_LOG_LEVEL}
      - EXCALIBUR_USER=${EXCALIBUR_USER}
      - PGPASS=${EXCALIBUR_PGPASS}
      - PYTHONPATH=${EXCALIBUR_SOURCE_PATH}
      - USERNAME=${EXCALIBUR_USER}
    image: esp/server:${ESP_VERSION}
    networks:
      - pipeline_domain
    ports:
      - "${DAWGIE_FE_PORT:-9990}-${DAWGIE_SFE_PORT:-9995}:8080-8085"
    user: "${EXCALIBUR_UID}:${EXCALIBUR_GID}"
    volumes:
      - ${EXCALIBUR_CERTS}:${EXCALIBUR_CERTS}
      - ${EXCALIBUR_DATA_PATH}:${EXCALIBUR_DATA_PATH}
      - ${EXCALIBUR_DB_PATH}:${EXCALIBUR_PATH}/${EXCALIBUR_USER}/db
      - ${EXCALIBUR_FRONT_END}:${EXCALIBUR_PATH}/${EXCALIBUR_USER}/front-end
      - ${EXCALIBUR_SOURCE_PATH}:${EXCALIBUR_SOURCE_PATH}
      - ${EXCALIBUR_PGPASS}:${EXCALIBUR_PGPASS}:ro
      - /etc/ssl:/etc/ssl:ro
      - /usr/local/share/ca-certificates:/usr/local/share/ca-certificates:ro
      - /usr/share/ca-certificates:/usr/share/ca-certificates:ro

  tools:
    build:
      args:
        BASE_VER: ${ESP_VERSION}
      context: ..
      dockerfile: .docker/Dockerfile.tools
    environment:
      - DAWGIE_AE_BASE_PACKAGE=${DAWGIE_AE_BASE_PACKAGE}
      - DAWGIE_AE_BASE_PATH=${EXCALIBUR_SOURCE_PATH}/${DAWGIE_AE_BASE_PACKAGE}
      - DAWGIE_DB_HOST=${DAWGIE_DB_HOST}
      - DAWGIE_DB_IMPL=${DAWGIE_DB_IMPL}
      - DAWGIE_DB_NAME=${DAWGIE_DB_NAME}
      - DAWGIE_DB_PATH=${DAWGIE_DB_PATH}
      - DAWGIE_DB_PORT=${DAWGIE_DB_PORT}
      - EXCALIBUR_USER=${EXCALIBUR_USER}
      - PGPASS=${EXCALIBUR_PGPASS}
      - PYTHONPATH=${EXCALIBUR_SOURCE_PATH}
      - USERNAME=${EXCALIBUR_USER}
    image: esp/tools:${ESP_VERSION}
    networks:
      - pipeline_domain
    user: "${EXCALIBUR_UID}:${EXCALIBUR_GID}"
    volumes:
      - ${EXCALIBUR_PATH}/${EXCALIBUR_USER}:${EXCALIBUR_PATH}/${EXCALIBUR_USER}
      - ${EXCALIBUR_SOURCE_PATH}:${EXCALIBUR_SOURCE_PATH}

  workers:
    build:
      args:
        AE_VER: ${ESP_CHANGESET}
        BASE_VER: ${ESP_VERSION}
      context: ..
      dockerfile: .docker/Dockerfile.worker
    deploy:
      mode: replicated
      replicas: ${EXCALIBUR_REPLICAS}
      restart_policy:
        condition: any
        delay: 3s
        window: 45s
    environment:
      - DAWGIE_DATA_DBSTOR=${DAWGIE_DATA_DBSTOR}
      - DAWGIE_DATA_LOGDIR=${DAWGIE_DATA_LOGDIR}
      - DAWGIE_DATA_STAGED=${DAWGIE_DATA_STAGED}
      - DAWGIE_GUEST_PUBLIC_KEYS=${DAWGIE_GUEST_PUBLIC_KEYS}
      - DAWGIE_SSL_PEM_FILE=${DAWGIE_SSL_PEM_FILE}
      - DAWGIE_SSL_PEM_MYNAME=${DAWGIE_SSL_PEM_MYNAME}
      - DAWGIE_SSL_PEM_MYSELF=${DAWGIE_SSL_PEM_MYSELF}
      - EXCALIBUR_LEVER_AND_KNOB_SETTINGS=${EXCALIBUR_LEVER_AND_KNOB_SETTINGS}
      - EXCALIBUR_USER=${EXCALIBUR_USER}
      - USERNAME=${EXCALIBUR_USER}
    image: esp/worker:latest
    init: true
    logging:
      driver: splunk
      options:
        splunk-token: $EXCALIBUR_SPLUNK_TOKEN
        splunk-url: "https://excalibur.jpl.nasa.gov:1088"
    networks:
      - pipeline_domain
    user: "${EXCALIBUR_UID}:${EXCALIBUR_GID}"
    volumes:
      - ${EXCALIBUR_CERTS}:${EXCALIBUR_CERTS}
      - ${EXCALIBUR_DATA_PATH}:${EXCALIBUR_DATA_PATH}
      - ${EXCALIBUR_LEVER_AND_KNOB_SETTINGS}:${EXCALIBUR_LEVER_AND_KNOB_SETTINGS}:ro
      - /etc/ssl:/etc/ssl:ro
      - /usr/local/share/ca-certificates:/usr/local/share/ca-certificates:ro
      - /usr/share/ca-certificates:/usr/share/ca-certificates:ro

networks:
  pipeline_domain:
    external: true
